:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-8-113-5: rgba(8, 113, 5, 1);
  --text-rgb-9-86-1: rgba(9, 86, 1, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-rgb-8-113-5 {
  color: var(--text-rgb-8-113-5);
}

.text-rgb-9-86-1 {
  color: var(--text-rgb-9-86-1);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.polygon-1-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 28px;
  fill: rgba(0, 255, 25, 1);
  border: none;
  outline: none;
}

.polygon-2-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 28px;
  fill: rgba(0, 255, 26, 1);
  border: none;
  outline: none;
}

.rectangle-1-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 15px;
}

.rectangle-2-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.polygon-3-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 42px;
  fill: rgba(98, 255, 114, 1);
  border: none;
  outline: none;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.rectangle-3-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(9, 86, 1, 1);
  border-radius: 59px;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.rectangle-4-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(9, 86, 1, 1);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.vector-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.mdi-food-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.famicons-eye-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.ic-baseline-password-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.line-1-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.line-2-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.text-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.iphone-14-plus-1-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.polygon-1-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 28px;
  fill: rgba(0, 255, 25, 1);
  border: none;
  outline: none;
}

.polygon-2-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 28px;
  fill: rgba(0, 255, 26, 1);
  border: none;
  outline: none;
}

.rectangle-1-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 15px;
}

.rectangle-2-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.polygon-3-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 42px;
  fill: rgba(98, 255, 114, 1);
  border: none;
  outline: none;
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.text-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.text-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-113-5);
}

.rectangle-3-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(9, 86, 1, 1);
  border-radius: 59px;
}

.text-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.mdi-food-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.famicons-eye-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.famicons-eye-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.line-1-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.line-2-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.line-3-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.line-4-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.ic-baseline-password-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-9-86-1);
}

.iphone-14-plus-2-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.frame-1-1 {
@media (max-width: 1440px) {
  .frame-1-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .frame-1-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
